include ../head.pug
body
    header
        nav.nav
            p(style='color: rgb(184, 183, 183)')
                | This web application was created to fulfill Web Technology
                | module&rsquo;s requirements and does not represent an actual
                | company or service
            .div_navigation-links
                ul.ul-links
                    li
                        a(href='http://localhost:4000/all-users') See all patients
                    li
                        a(href='http://localhost:4000/user/register') Register a new patient
    .container.form-container
        form#form(action=`/api/user/update/${user.id}` method="POST")
            div
                h4 #{user.user.fullname}
                label
                    p Full name
                    input#fullname.input(type='text' value=`${user.user.fullname}` required='')
                label
                    p Phone number
                    input#phone_number.input(type='text' value=`${user.user.phone_number}` required='')
                label
                    p Address
                    input#address.input(type='text' value=`${user.user.address}` required='')
            .inline-inputs
                label(for='')
                    p gender
                    select#gender.input(name='gender' value=`${user.user.gender}`)
                        option(value='male') Male
                        option(value='female') Female
                label(for='')
                    p Date of birth
                    input#birth_date.input(type='date' required='' value=`${user.user.birth_date}`)
            div
                label(for='')
                    p Patient analysis
                    input#analysis.input(type='text' value=`${user.user.analysis}` required='')
                div(id="error")
                .btn-container
                    button#save.btn(type='submit') Update
